

header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background: rgba(240, 240, 240, 1);
}
header section {
  position: absolute;
  border-radius: 3px;
  width: 90%;
  max-width: 610px;
  top: 55%;
  left: 50%;
  background: #fafafa;
  color: #222;
  padding: 2rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
header h1 {
  color: #333333 ;
  margin-top: 0;
}
header h5 {
 color: #333333;
}
header p {
  color: #333333 ;
  text-align: left;
}
header small {
  color: #333333 ;
  margin-top: 1rem;
  display: inline-block;
}





#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    color: #ffffff;
    text-align: center;
}


#searchform2 {  
    position: relative;   
} 

#staff-container {
  position: relative;
  color: #ffffff;
  width: 820px;
  height: 680px; /*楽譜場所の大きさ*/
  overflow: auto;
  top: 450px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0px 4rem 0px 4.3rem;
  background-color: #ffffff; /*楽譜背景色*/
  border-radius: 4px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

input, button {
  border-radius: 2px;
  line-height: 1.4;
  margin: 0;
  padding: 0.25em 0.5em;
  outline: 0;  
}

input {
  border: 1px solid #e6e6e6;
  width: 300px;
}

button {
  background: #e6e6e6; /* ボタン背景*/
  color: #747474; /*ボタン文字色*/
  border: 1px solid #f5f5f5;
}

button1{
  top:60px;
  position: relative;
	 max-width: 180px;
	 margin-left: auto;
 margin-right: auto;

	  display: block;


}


button2{

  top: -820px;
  left: -230px;
  z-index: 8;
  position: relative;
	 max-width: 180px;
	 margin-left: auto;
 margin-right: auto;

	  display: block;
}


#play, #midi {
  position: relative;
  top: 1rem;
  z-index: 8;
}


#midi {
  right: 1rem;
  text-align: right;
  margin: 0;
}
#midi embed {
  position: absolute;
  top: -99999px;
  opacity: 0;
  pointer-events: none;
}
#midi a {
  color: black;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.0125em;
}

#staff {
  height: 440px;
}
#staff > div {
  box-sizing: border-box;
  height: 220px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
}
#staff > div:not(:nth-child(2)) path.symbol.l0 {
  opacity: 0;
}
#staff > div:not(:nth-child(2)) {
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}
#staff > div.hide {
  opacity: 0;
}
#staff > div:first-child {
  color: #ffffff;
  border-bottom: 1px solid #F0F0F0;
}
#staff > div:first-child > div {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}

@media (min-height: 792px) {
  #staff {
    height: 660px;
  }
}
@media (min-height: 1056px) {
  #staff {
    height: 880px;
  }
}
@media (min-height: 1320px) {
  #staff {
    height: 1100px;
  }
}
@media (min-height: 1584px) {
  #staff {
    height: 1320px;
  }
}
html, body {
  height: 100%;
}

body {
  background-color: #fafafa; /*背景のカラー*/
  color: #222;
  line-height: 1.7;
}
