@font-face {
        font-family: 'font1';
        src: url('font/SourceHanCodeJP-ExtraLight.otf');
    }


header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background: rgba(0, 0, 0, 0.6);
}
header section {
  position: absolute;
  border-radius: 50px;
  width: 90%;
  max-width: 610px;
  top: 50%;
  left: 50%;
  background: #ffffff;
  color: #222;
  padding: 2rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
header h1 {
  font-family:'font1';
  color: #333333 ;
  margin-top: 0;
}
header h5 {
 color: #333333;
}
header p {
  font-family:'font1';
  color: #333333 ;
  text-align: left;
}
header small {
  font-family:'font1';
  color: #333333 ;
  margin-top: 1rem;
  display: inline-block;
}

#staff-container {
  color: #ffffff;
  width: 800px;
  overflow: auto;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0 4rem;
  background-color: #ffffff; /*楽譜背景色*/
  border-radius: 4px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

input, button {
  border-radius: 2px;
  line-height: 1.4;
  margin: 0;
  padding: 0.25em 0.5em;
}

input {
  border: 1px solid #e6e6e6;
  width: 300px;
}

button {
  background: #cdcdcd; /* ボタン背景*/
  color: black; /*ボタン文字色*/
  border: 1px solid #2b2b2;
}

button1{
  padding: 10px 10px 10px 10px;
  width: calc(80% - 1rem);
  max-width: 200px;
  -webkit-transform: translateX(0.5rem);
          transform: translateX(0.5rem);
  border: none;
  text-align: center;
  background: #111111; /*PLAY*/ /*#fb0*/
  font-size: 35px;
  color: white;
  display: block;
  margin: 60px auto;
  border-radius: 4px;
  -webkit-animation: pulse 200ms ease-in-out infinite alternate;
          animation: pulse 200ms ease-in-out infinite alternate;
  border: 4px solid #dddddd; /*f5b400*/
  box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  letter-spacing: 0.125em;
}

button1:hover{
  padding: 15px 20px 15px 20px;
  width: calc(80% - 1rem);
  max-width: 200px;
  -webkit-transform: translateX(0.5rem);
          transform: translateX(0.5rem);
  border: none;
  text-align: center;
  background: #111111; /*PLAY*/ /*#fb0*/
  font-size: 38px;
  color: white;
  display: block;
  margin: 52px auto;
  border-radius: 4px;
  -webkit-animation: pulse 200ms ease-in-out infinite alternate;
          animation: pulse 200ms ease-in-out infinite alternate;
  border: 4px solid #dddddd; /*f5b400*/
  box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  letter-spacing: 0.125em;
}

button1:active{
  padding: 15px 10px 15px 10px;
  width: calc(80% - 1rem);
  max-width: 200px;
  -webkit-transform: translateX(0.5rem);
          transform: translateX(0.5rem);
  border: none;
  text-align: center;
  background: #111111; /*PLAY*/ /*#fb0*/
  font-size: 30px;
  color: white;
  display: block;
  margin: 58px auto;
  border-radius: 4px;
  -webkit-animation: pulse 200ms ease-in-out infinite alternate;
          animation: pulse 200ms ease-in-out infinite alternate;
  border: 4px solid #dddddd; /*f5b400*/
  box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  letter-spacing: 0.125em;
}



/*
#topback{
  font-family:'font1';
  width:300px;
  color:#ffffff;
  background:#337fcc;
  font-size:28px;
  text-align:center;
  display:block;
  text-decoration:none;
  border:1px solid #225588;
  padding:13px 0 8px 0;
  border-radius:5px;
}
*/



.topback {
	background-color:#dddddd;
	padding:20px 20px 20px 20px;
	margin-left: 35px;
	position:relative;
	font-family: 'Open Sans', sans-serif;
	font-size:40px;
	text-decoration:none;
	color:#000000;
	background-image: linear-gradient(bottom, rgb(171,27,27) 0%, rgb(212,51,51) 100%);
	border-radius: 50px;
}

.topback:hover {
  background-color:#dddddd;
	padding:20px 20px 20px 20px;
	margin-left: 25px;
	top:-3px;
	position:relative;
	font-family: 'Open Sans', sans-serif;
	font-size:43px;
	text-decoration:none;
	color:#000000;
	background-image: linear-gradient(bottom, rgb(171,27,27) 0%, rgb(212,51,51) 100%);
	border-radius: 50px;
  
  
}

.topback:active {
	background-color:#dddddd;
	padding:10px 10px 10px 10px;
	margin-left: 60px;
	top:5px;
	position:relative;
	font-family: 'Open Sans', sans-serif;
	font-size:35px;
	text-decoration:none;
	color:#000000;
	background-image: linear-gradient(bottom, rgb(171,27,27) 0%, rgb(212,51,51) 100%);
	border-radius: 50px;
}




#play, #midi {
  position: absolute;
  top: 1rem;
  z-index: 8;
}

#play {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#midi {
  right: 1rem;
  text-align: right;
  margin: 0;
}
#midi embed {
  position: absolute;
  top: -99999px;
  opacity: 0;
  pointer-events: none;
}
#midi a {
  color: black;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.0125em;
}

#staff {
  height: 440px;
}
#staff > div {
  box-sizing: border-box;
  height: 220px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
}
#staff > div:not(:nth-child(2)) path.symbol.l0 {
  opacity: 0;
}
#staff > div:not(:nth-child(2)) {
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}
#staff > div.hide {
  opacity: 0;
}
#staff > div:first-child {
  color: #ffffff;
  border-bottom: 1px solid #F0F0F0;
}
#staff > div:first-child > div {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}

@media (min-height: 792px) {
  #staff {
    height: 660px;
  }
}
@media (min-height: 1056px) {
  #staff {
    height: 880px;
  }
}
@media (min-height: 1320px) {
  #staff {
    height: 1100px;
  }
}
@media (min-height: 1584px) {
  #staff {
    height: 1320px;
  }
}
html, body {
  height: 100%;
}

body {
  background-color: #424242; /*背景のカラー*/
  color: #222;
  line-height: 1.7;
}
